.articles {
    grid-column: 1/13;
    font-family: "Noto Sans Display";
    background: #dfdfdf;
    padding-bottom: 77px;
    &__container {
        grid-column: 1/13;
    }
    &__title {
        grid-column: 1/13;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #244873;
        text-transform: uppercase;
        margin-bottom: 44px;
        &--text {
            font-family: "Noto Sans Display";
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
        }
    }
    &__content {
        grid-column: 1/13;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 447px;
    }
    &__slider {
        width: 100%;
        background: #fff;
    }
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item {
        position: relative;
        width: 25%;
        height: 422px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #F0F4FB;
    }
    &__photo {
        width: 87.88%;
        height: 220px;
        overflow: hidden;
        margin-bottom: 22px;
        &--pic {
            object-fit: cover;
            overflow: hidden;
        }
    }
    &__data {
        position: absolute;
        top: 208px;
        left: 19px;
        width: 91px;
        height: 33px;
        background: white;
        text-align: center;
        &--text {
            margin-top: 17px;
            font-family: Noto Sans Display;
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            color: #00c38d;
        }
    }
    &__text {
        margin-bottom: 23px;
        width: 75.76%;
        height: 80px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #244873;
    }
    &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: #fff;
    }
}

.read {
    width: 260px;
    border-top: 1px solid rgba(#f0f4fb, 0.5);
    &__text {
        &--link {
            font-family: Noto Sans Display;
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            text-transform: uppercase;
            color: #244873;
            &::after {
                content: url('../images/icons/articles.svg');
                margin-left: 10px;
            }
        }
        padding-top: 18px;
        padding-left: 8px;
    }
}