@font-face {
    font-family: 'Noto Sans Display';
    src: local('../fonts/Noto Sans Display Black'), local('../fonts/NotoSansDisplay-Black'), url('../fonts/Notosansdisplayblack.woff2') format('woff2'), url('../fonts/Notosansdisplayblack.woff') format('woff'), url('../fonts/Notosansdisplayblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}