.header-menu {
  width: 244px;
  height: 366px;
  position: absolute;
  position: relative;
  background: white; }
  .header-menu__item {
    font-family: Noto Sans Display;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    color: #244873; }
  .header-menu__triangle {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 140px; }
    .header-menu__triangle::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
      position: absolute;
      top: 1px;
      left: 10px; }
