.header {
    grid-column: 1/13;
    padding-top: 10px;
    height: 47px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans Display';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1d3552;
    border-left: 1px solid #1d3552;
    border-right: 1px solid #1d3552;
    &--left {
        width: 40.61%;
        display: flex;
    }
    &--right {
        width: 25.68%;
        display: flex;
    }
}

.address {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 363px;
    border-right: 1px solid #1d3552;
    height: 56px;
    &::before {
        content: url('../images/icons/gps.svg');
        margin-right: 10px;
    }
}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-right: 1px solid #1d3552;
    height: 56px;
    &::before {
        content: url('../images/icons/phones.svg');
        margin-right: 10px;
    }
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 198px;
    border-left: 1px solid #1d3552;
    height: 56px;
    color: white;
    font-family: 'Noto Sans Display';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    background: transparent;
    text-transform: uppercase;
    &::before {
        content: url('../images/icons/speack.svg');
        margin-right: 10px;
    }
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    background: #4639ae;
    border-left: 1px solid #1d3552;
    height: 56px;
    color: white;
    font-family: 'Noto Sans Display';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    &::before {
        content: url('../images/icons/user.svg');
        margin-right: 10px;
    }
}