.main {
    height: 419px;
    background: #11253d;
    color: white;
    font-family: "Noto Sans Display";
    margin-bottom: 91px;
    &__logo {
        width: 505px;
        height: 505px;
        position: absolute;
    }
    &__info {
        grid-column: 1/13;
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__right {
            display: flex;
        }
    }
}

.main__container {
    position: relative;
    z-index: 2;
}

.main__bg {
    position: absolute;
    z-index: 1;
    left: 232px;
}

.title {
    margin-left: 17px;
    width: 400px;
    &__overhead {
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__head {
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__subtitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
    }
}

.referee-book {
    width: 330px;
    height: 220px;
    background: #fff;
    color: #244873;
    &__info {
        position: relative;
    }
    &__content {
        margin-left: 40px;
        margin-top: 50px;
    }
    &__title {
        padding: 41px 63px 24px 42px;
        font-family: Noto Sans Display;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        text-transform: uppercase;
    }
    &__subtract {
        &::before {
            content: url("../images/icons/subtractReferee.svg");
        }
    }
    &__shirt {
        position: absolute;
        top: 114px;
        left: 222px;
    }
}

.school-map {
    &__title {
        padding: 40px 63px 24px 40px;
        font-family: Noto Sans Display;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        width: 230px;
        text-transform: uppercase;
    }
    &__info {
        width: 330px;
        height: 220px;
        background: url("../images/icons/schoolMap.svg") center center / cover no-repeat;
        position: relative;
    }
    &__content {
        display: flex;
        margin-left: 40px;
        margin-top: 50px;
    }
    &__subtract {
        &::before {
            content: url("../images/icons/subtract.svg");
        }
    }
    &__drops {
        position: absolute;
        top: 39px;
        left: 222px;
    }
    background: #4639ae;
}